# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local environment variables
backend/.env
.env

# IDE / System files
.vscode/
.DS_Store
Thumbs.db

# Standalone sprint versions
sprint-1/
sprint-2/
sprint-3/
sprint-4/
